@font-face {
  font-family: Loede;
  src: url(assets/fonts/Airlash\ Raiders.ttf);
}
* {
  font-family: Loede;
}
body {
  box-shadow: 0px 0px 20px lightgray;
  height: fit-content;
  margin: 5em 10% 5em 10%;
  background-color: white;
  padding: 1em;
}
header {
  height: fit-content;
  display: flex;
  flex-direction: row;
}
.avatar {
  height: 250px;
  width: 250px;
  border: 0px;
  border-radius: 50%;
}
hr {
  border-color: crimson;
}
.personal-information h2::first-letter {
  font-style: italic;
  color: crimson;
}
li::marker {
  content: "☻";
  font-size: 1.2em;
}
.duty li::marker {
  content: "✪";
  font-size: 1.2em;
}
.contacts nav {
  display: flex;
  flex-direction: column;
}

.contacts div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contacts img {
  margin: 5px 10px;
}
