@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}
* {
  font-family: Roboto;
}
header {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  max-width: 1280px;
  background-color: floralwhite;
  padding: 0 1em;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: crimson;
}
.avatar {
  margin: 1em;
  border-radius: 50%;
  height: 50px;
  border: 1px solid rgb(118, 118, 118);
}
.avatar-menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  padding: 1em;
  font-size: 1.1em;
}
li:hover {
  text-decoration: underline;
}
a {
  color: black;
  text-decoration: none;
}
.menu svg {
  position: relative;
  z-index: 1;
}
.menu input {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  width: 50px;
  height: 50px;
}
.menu ul {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: floralwhite;
  padding: 2em;
  padding-top: 0.5em;
  display: block;
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  min-width: 200px;
}
.menu input:checked ~ ul {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.menu input:checked ~ svg {
  transform: rotate(90deg);
}
.menu input:checked ~ ul > li {
  padding: 1em;
  transition: padding 0.2s ease;
}
@media (min-width: 1000px) {
  .menu {
    display: none;
  }
}
@media (max-width: 1000px) {
  nav {
    display: none;
  }
}

@media (max-width: 500px) {
  h1 {
    display: none;
  }
}
